.container {
  position: relative;
  margin: 10px;
}

.heading {
  color: rgb(37, 117, 170);
  font-size: 48px;
  text-shadow: 2px 0 #222;
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Pacifico', cursive;
}

@media (min-width: 1024px) {
  .img {
    margin-left: 35px;
  }
  .heading {
    margin-right: 35px;
  }
}
