/*text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #2dd5ff 0px 0px 20px, #2dd5ff 0px 0px 30px, #2dd5ff 0px 0px 40px,
    #2dd5ff 0px 0px 50px, #2dd5ff 0px 0px 75px;*/
* {
  word-spacing: 4px;
  position: relative;
}

.test {
  height: 100px;
  width: 100px;
  background-color: red;
}
